<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!--引用默认日志配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--使用默认的控制台日志输出实现-->
    <!--应用名称-->
    <!--scope = context 即表示该属性只在本配置文件中有效-->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="springBoot"/>
    <!--日志文件保存路径-->
    <springProperty scope="context" name="FILE_PATH" source="logging.file.path" defaultValue="./"/>
    <!--logstash host-->
    <springProperty scope="context" name="LOGSTASH_HOST" source="logstash.host" defaultValue="localhost"/>

    <appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--日志输出到文件-->
    <!--采用滚动式Appender-->
    <appender name="FILE_INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--输出INFO以上级别日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <!--设置为默认的文件日志格式-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--滚动策略为设置文件大小和按时间周期-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--设置文件命名格式-->
            <!--SizeAndTimeBasedRollingPolicy中%d,%i都是令牌强制的，必须存在否则报错-->
            <fileNamePattern>${FILE_PATH}/INFO/-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!--设置日志文件大小，超过就重新生成文件，默认10M-->
            <maxFileSize>1MB</maxFileSize>
            <!--日志文件保留天数，默认30天-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--日志输出到logstash-->
    <appender name="LOGSTASH_RECORD" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:4560</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Shanghai</timeZone>
                </timestamp>
                <!--自定义日志输出格式-->
                <pattern>
                    <pattern>
                        {
                        "project": "demo_mall",
                        "level": "%level",
                        "class": "%logger",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>

            </providers>

        </encoder>

    </appender>

    <!--控制框架输出日志-->
    <logger name="org.slf4j" level="INFO"/>
    <logger name="springfox" level="INFO"/>
    <logger name="io.swagger" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>


    <root level="DEBUG">
        <appender-ref ref="CONSOLE_DEBUG"/>
    </root>

    <logger name="com.cwh.mall.controller" level="DEBUG" additivity = "false">
        <appender-ref ref="CONSOLE_DEBUG"/>
        <appender-ref ref="FILE_INFO"/>
        <appender-ref ref="LOGSTASH_RECORD"/>
    </logger>

</configuration>
